### Laravel Basic ###
/node_modules
/vendor
.env
.env.*
!.env.example
/public/build
/public/hot
/storage/*.key
/storage/pail

### Development ###
/.phpunit.cache
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

### IDE ###
/.fleet
/.idea
/.nova
/.vscode
/.zed
.phpactor.json
/auth.json

### Storage ###
# Игнорируем ВСЁ в public/storage (симлинк)
/public/storage/*
